* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

.bar {
  width: 40px;
  height: 2px;
  background: white;
  margin: 30px 0 20px;
}

h1 {
  font-size: 1.2;
  font-family: 'Do Hyeon';
  padding: 2px;
}

h1 span {
  color: mediumspringgreen;
}

text {
  font-size: 1.2;
  margin: 10px;
  padding: 10px;
}

div > text {
  font-size: 16px;
  margin: 5px;
  padding: 5px;
}